/* Grid Layout Library Partial*/

@supports (display: grid) {
  // Variables
  $column-count: 8;
  $column-1: 100% / $column-count;
  $row-count: 4;
  $row-1: 100% / $row-count;
  $loop-start: 1;
  $loop-end: $column-count + 1;
  $row-start: 1;
  $row-end: $row-count + 1;

  // Mixins
  @mixin span($span-num) {
    grid-column-end: span $span-num;
  }

  @mixin col($col_num) {
    grid-column-start: $col_num;
  }

  @mixin row($row_num) {
    grid-row-start: $row_num;
    grid-row-end: $row_num + 1;
  }

  // Grid Span Classes
  @for $index from $loop-start to $loop-end {
  }

  // Grid Column Classes
  @for $index from $loop-start to $loop-end {
  }

  // Grid Row Classes
  @for $index from $row-start to $row-end {
  }

  // Flex Offset Classes
  @for $index from $loop-start to $loop-end {
  }
}
